.formContainer{
  width: 35vw;
  height: 10vh;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.title{
  font-family: 'Bad Script', cursive;
  font-size: 45px;
  font-weight: 700;
  margin-left: -107px;
  margin-bottom: -10px;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.note{
  width: 547px;
  height: 160px;
  line-height: 150%;
  padding: 5px 10px;
  font-size: 27px ;
  border-radius: 13px;
  border: 2px solid black;
  resize: none;
  overflow: auto;
}

.addBtn{
  height: 200px;
  width: 110px;
  margin: 5px;
  color: #EB984E;margin-bottom: -10px;
  
}

@media (max-width: 1200px){
 .title{
    font-size: 27px;
    margin-left: -107px;
    margin-bottom: -5px;
  }
  
  .note{
    width: 350px;
    height: 120px;
    font-size: 20px ;
  }
  
  .addBtn{
    height: 130px;
    width: 80px;
  }
}

@media (max-width: 650px){
  .title{
    font-size: 18px;
    margin-left: -107px;
    margin-bottom: -5px;
  }
  
  .note{
    width: 190px;
    height: 75px;
    font-size: 12px ;
  }
  
  .addBtn{
    height: 105px;
    width: 50px;
  }
}